button {
  width: 100px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  border: 1px solid grey;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 15px;
}

.clicks-three {
  color: white;
  background-color: #351C75;
}

.clicks-six {
  color: white;
  background-color: #664DA5;
}

.clicks-nine {
  color: white;
  background-color: #E06666;
}

.clicks-twelve {
  color: black;
  background-color: #F6B26B;
}

.clicks-fifteen {
  color: black;
  background-color: #FFFB00;
}

.clicks-nuclear {
  color: black;
  background-color: white;
}
