<div class="flex justify-center mt-20">
  <button
    type="button"
    class="px-6 py-3 border border-black text-base font-medium rounded-full shadow-sm text-black focus:ring-2"
  >
    Hot Button
  </button>
</div>